*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f984e5!important;
}
div.n{
    width: 400px;
    height: 300px;
background-color: white;
border-radius: 9px 12px;
box-shadow: px 2px 2px rgb(4, 2, 7);
}
h1{
    display: flex;
    justify-content: center;
}
input{
display: inline-block;
width: 90px;
position: relative;
padding: 5px 4px;
left: 50px;
top: 19px;
border-radius: 5px 2px;
background-color:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%) !important;




}
inp.r{
    margin: 0px 2px;
}

button{
    position: relative
    ;
    left: 40%;


   
}
    .b{
        width: 70px;
        margin-top: 20%;
    }
    .ag{
        display: block;
        font-size: 20px;
        overflow: hidden;
        line-height: normal;
    }