*{
padding: 0;
margin: 0;
box-sizing: border-box;


}
body{

    width: 100px;
    min-height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.gg{
    width: 180%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-color: 1px #ccc;
    font-size: 16px;

    border-radius: 30px;
    outline: none;
    box-sizing: 70px;
    margin-left: -90px;
    
}
.hh{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -33px;
    margin-left: -65px;
    
}
.jj{
    
    margin-right: -110px;
}
.kk{
    
margin-top: -200px;
}


.nn{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: -500px;    
    top: 50px;
    list-style: none;
    margin: 0px -7px ;
    word-spacing: 80px;
}
.tt{
    padding-right: 14px ;
    color: #111;
}
button{
    background-color: #4584ef;
    border-radius: 4px;
}
footer{

    position: absolute;
    bottom: 2px;
    left: -600px;

    justify-content: ;
}
    li.t{
        display: inline-block;
        word-spacing: 5px;
        padding: 0px 4px ;
        margin: 0px 5px ;
        position: relative
        ;
        
        
        
        

        


    }
    li{
        display: flex;
        justify-content: space-around;
    }
    #vv{
        float: left;
    }
    #al{
        padding: 4px 15px;
    }