*padding{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    
    background: linear-gradient(  #ff4b1f,
    #1fddff      );
  
    background-attachment: fixed;
    
}
div{
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color : transparent;
    align-items: center;
    
    border-radius: 5px;

    box-shadow: 9px 4px 95px gray;  
    color:blue;
}
#time{
    background: linear-gradient(
       );
        
        color: 
    
#f44336,
#262626;
}
#time :hover{
    background:linear-gradient(#00d2ff, #928dab);  
    transform: scale(1.2);
    transition: 3s;


}
h7{
    font-size: 20px;
    color: black;
    position: relative
    top: 7px;
}